
.terraform.lock.hcl
.terraform/modules/modules.json
.terraform/providers/registry.terraform.io/hashicorp/google-beta/3.72.0/windows_amd64/terraform-provider-google-beta_v3.72.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/google/3.72.0/windows_amd64/terraform-provider-google_v3.72.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.3.2/windows_amd64/terraform-provider-kubernetes_v2.3.2_x5.exe
system/.terraform.lock.hcl
system/.terraform/providers/registry.terraform.io/hashicorp/kubernetes-alpha/0.5.0/windows_amd64/terraform-provider-kubernetes-alpha_v0.5.0_x5.exe
system/terraform.tfstate
system/terraform.tfstate.backup
system/traefik-crds/.terraform.lock.hcl
system/traefik-crds/.terraform/providers/registry.terraform.io/hashicorp/kubernetes-alpha/0.5.0/windows_amd64/terraform-provider-kubernetes-alpha_v0.5.0_x5.exe
system/traefik-crds/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.3.2/windows_amd64/terraform-provider-kubernetes_v2.3.2_x5.exe
system/traefik-crds/terraform.tfstate
system/traefik-crds/terraform.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
